@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
    .flex-start {
        @apply flex justify-start items-center
    }

    .flex-between {
        @apply flex justify-between items-center
    }

    .flex-s-between {
        @apply flex justify-between items-start
    }

    .flex-around {
        @apply flex justify-around items-center
    }

    .flex-center {
        @apply flex justify-center items-center
    }

    .flex-e-end {
        @apply flex justify-end items-center
    }

    .flex-e-start {
        @apply flex justify-start items-end
    }
    .flex-s-start {
        @apply flex justify-start items-start
    }

    .classic-input {
        @apply border-b-2 border-b-gray-600 p-2 focus:outline-none bg-transparent
    }
    .submit-btn {
        @apply bg-yellow-400 rounded-2xl text-sm px-4 py-2 text-black font-bold hover:bg-yellow-500
    }
    .tab-name {
        @apply cursor-pointer font-bold
    }
    .active-tab {
        @apply rounded-t-md border-l border-t border-r border-yellow-500 px-3 py-1 text-gray-700
    }
    .inactive-tab {
        @apply border-b  border-yellow-500 px-3 py-1 text-yellow-500
    }
    .backdrop {
        z-index: 500;
        @apply fixed top-0 left-0 right-0 bottom-0 bg-backdrop
    }
    .form-w {
        width: 380px
    }
    .modal {
        top: 27vh;
        z-index: 1000;
        left: calc(50% - 200px);
        min-width: 400px;
        max-width: 550px;
        @apply fixed shadow-md
    }
    @media screen and (max-width: 725px){
        .modal {
            left: 0;
            right: 0;
        }
    }

    .item-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .item-row::after {
        content: "";
        flex: auto;
    }
    .pagination-button {
        @apply px-2 py-1 rounded-md mr-2 text-black font-bold
    }

    .filter-checkbox {
        @apply accent-yellow-500 w-4 h-4 focus:ring-0 focus:ring-offset-0 my-2
    }

    input[type="checkbox"]:not(:checked):not(:disabled),
    input[type="radio"]:not(:checked):not(:disabled) {
        appearance: none;
        margin-bottom: 0;
        width: 1em;
        height: 1em;
        background: #fef9c3;
        border: 1px solid #b7b3b3;
        border-radius: 2px
    }

    .main-bloc {
        min-height: calc(100vh - 80px);
    }

    .yellow-100-autofill:-webkit-autofill,
    .yellow-100-autofill:-webkit-autofill:hover,
    .yellow-100-autofill:-webkit-autofill:focus,
    .yellow-100-autofill:-webkit-autofill:active{
        -webkit-box-shadow: 0 0 0 30px #fef9c3 inset !important;
    }

    .yellow-200-autofill:-webkit-autofill,
    .yellow-200-autofill:-webkit-autofill:hover,
    .yellow-200-autofill:-webkit-autofill:focus,
    .yellow-200-autofill:-webkit-autofill:active{
        -webkit-box-shadow: 0 0 0 30px #fef08a inset !important;
    }

    body{
        background-color: var(--main-bg);
    }
    :root {
        --main-bg: #fdf8f2;
        --page-bg: white;
        --login-page-bg: #fdf8f2
    }

    .modal-enter {
        transform: translateY(-10rem);
        opacity: 0;
    }

    .modal-enter-active {
        transform: translateY(0);
        opacity: 1;
        transition: all 200ms;
    }

    .modal-exit {
        transform: translateY(0);
        opacity: 1;
    }

    .modal-exit-active {
        transform: translateY(-10rem);
        opacity: 0;
        transition: all 200ms;
    }
}
